.hello{
    margin-top: 5rem;
    color: white;
   
}
.header{
    display: flex;
    flex-wrap: wrap;
}
.head{
    margin-left: 3rem;
 

}
.text-name{
    margin-top: 2rem;
    font-size: 4rem;
}
.im{
    color: white;
    display: inline-block;
}

.text-head{
font-size: 1.5rem;
padding-top: 2rem;
}
.text{
    margin-top: 2rem;
    font-size: 1.rem;
  
   
}
.typewriter{
    overflow: hidden;
    white-space: nowrap;
    
    animation: typing 1s steps(10) infinite alternate-reverse;
}
@keyframes typing{
    from{width: 0;} to{
    width: 20ch;
    }
    
}
.icons{
display: flex;
margin-bottom: 4rem;
margin-left: 2rem;
cursor: pointer;
font-size: 1.5rem;
color: grey;
justify-content: center;

}
.git,.twitter,.insta{
    margin-left: 3rem;
}

